/* .app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 1rem;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    color: purple;
  }
  
  th,
  td {
    border: 1px solid #ffffff;
    text-align: left;
    padding: 8px;
    font-size: 32px;
  }
  
  th {
    .navbar: rgb(250, 117, 117);
  }
  
  td {
    background-color: rgb(205, 235, 253);
  }
  
  form {
    display: flex;
    gap: 5px;
  }
  
  form td:last-child {
    display: flex;
    justify-content: space-evenly;
  }
  
  form * {
    font-size: 28px;
  }
  
  button {
    font-size: 28px;
    color: rgb(101, 0, 0);
  }
  
  Onclick {
    font-size: 28px;
  }
  .red-option {
    color: red;
  }
  
  .green-option {
    color: green;
  }
   */